<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.fyp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DonorNavigationDrawer"
            android:label="@string/title_activity_donor_navigation_drawer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrgNavigationDrawer"
            android:label="@string/title_activity_org_navigation_drawer"
            android:theme="@style/AppTheme" />
        <activity android:name=".ActivityOrgRequestDetails" />
        <activity android:name=".ActivityValidationReg" />
        <activity android:name=".ActivityPostRequest" />
        <activity
            android:name=".DonorDashboard"
            android:label="@string/title_activity_donor_dashboard"
            android:theme="@style/AppTheme" />
        <activity android:name=".FragRequestsDetails" />
        <activity android:name=".Chat"></activity>
    </application>

</manifest>